body {
    overflow: hidden;
}

h1, h2, h3 {
    font-family: "Courier New";
}
nav {
    margin-top: 1em;
}
nav ul, nav ul li {
    margin : 0px;
    padding : 0px;
    text-align: center;
}

nav ul li a {
    font-family: "Courier New";
    color : #A44448;
    font-size: 2em;
    height : 1.8em;
    display:inline-block;
}
nav ul li a:hover {
    font-weight: bold;
    color : #A44448;
    text-decoration: none;
}

nav ul li a.active {
    background-image: url('../img/orlando-icon-active-link.png');
    background-repeat : no-repeat;
    background-position: center bottom;
}

body > header {
    position : absolute;
    bottom : 0px;

    width : 100%;
    text-align: center;
    color : #A44448;
    z-index: 100;
}

body > header h2 {
    background-color: #B8C1CB;
    margin-top: -.5em;
    padding-top: .5em;
    height : 100%;
}
body > header h1 {
    font-size: 5em;
    text-transform: uppercase;
    font-weight: normal;
    margin : .1em 0px 0px;
    padding : 0px;
    /*    margin-top: -.2em;*/
}
body > header a {
    color : #A44448;
}
.panel {
    background-color: #F3F7F7;
    border-radius: 2em;
    padding : 1em;
}
#workspace {
    position : relative;
}
#workspace article header {
    color : #A44448;
    font-weight: bold;
    font-family: "Courier New";
}

span.poster {
    margin-right: 1em;
    float : right;
    width : 170px;
    height : 250px;
    background-color: #F3F7F7;
    border-radius: 2em;
    border : 1px solid silver;
    text-align: center;
    overflow: hidden;
}
span.poster img {
    max-width : 175px;
    max-height : 260px;
}
#spectacle-list {
    list-style-type: none;
    display : none; /* Hidden by default */
}

#spectacle-list li a.active {
    font-weight: bold;
    color : #A44448;
}
#spectacle-list a:before {
    content: "+ ";
}
#spectacle-list a {
    color : #3D3B41;
    font-size: 1.2em;
}
#spectacle-list a:hover {
    color : #A44448;
}

#spectacle-list-empty {
    text-align: center;
}
#spectacle-list-panel {
    position : relative;
    min-height : 5em;
}

.ajaxloader {
    text-align: center;
    position : absolute;
    top : 1em;
    left : 0px;
    display : none;
    width : 100%;
    height : 100%;
}

#welcome {
    text-align: center;
}

#spectacle, #programmation, #welcome {
    /*    display : none;*/
    position : absolute;
    left : 0px;
    top : 0px;
    width : 100%;
}
#parallax {
    position : absolute;
    width : 100%;
    height : 100%;
    top : 0px;
    left : 0px;
    z-index: -1;
}

#grid-1 {
    background-image: url('../img/grid-bg.png');
    position : absolute;
    width : 100%;
    height : 100%;
    top : 0px;
    left : 0px;
}

#grid-2 {
    background-image: url('../img/grid-bg-2.png');
    position : absolute;
    width : 100%;
    height : 100%;
    top : 0px;
    left : 0px;
}

footer {
    position : absolute;
    height : 200px;
    width : 100%;
    left : 0px;
    bottom : 0px;
    opacity: 0.10;
    background-image: url('../img/movies%20banner.jpg');
}